<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/grids-responsive.css" | relURL }}" />
  </head>

  <body>
    <nav>
      <div class="nav-bar-parent">
        <div class="nav-bar-child">
          <p><b>Daniel Gratzer</b></p>
        </div>
        <div class="nav-bar-child">
          <ul class="menu">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="nav-bar-child">
          <p id="email"><strong>gratzer@cs.au.dk</strong></p>
        </div>
      </div>
    <hr/>
    </nav>
